html, body { height: 100%; margin: 0; padding: 0; }
#map {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	min-height: 220px;
	right: 0px;
}

#panel {
	position: absolute;
	right: 20px;
	width: 4	00px;
	bottom: 120px;
	top: 40px;
	z-index: 99;
	background-color: white;
	opacity: 0.95;
	border: 2px solid #cccccc;
	border-radius: 4px;
}

#venue-list {
	position: absolute;
	top: 110px;
	bottom: 0px;
	overflow-y: auto;
}

#venue-list ul {
	padding: 0;
	margin: 0;
}

#venue-list li {
	list-style-type: none;
	font-family: sans-serif;
	padding: 8px;
	border-bottom: 1px dotted #cccccc;
}

#panel-nav {
	border-bottom: 2px solid #cccccc;
	padding: 10px 20px 0px 20px;	
}

#panel-nav li {
	margin-left: -50px;
	margin-right: 60px;
	list-style-type: none;
	display: inline;
}

#panel-nave