html, body { height: 100%; margin: 0; padding: 0; }
#map {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	min-height: 220px;
	right: 284px;
}

#panel {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 284px;
	top: 0px;
	z-index: 99;
	background-color: white;
	opacity: 0.95;
	border-left: 2px solid #cccccc;
	padding: 0;
}

#venue-list {
	height: 100%;
	overflow-y: auto;
	width: 98%;
	border-top: 2px solid #cccccc;
}

#venue-list ul, #location-list ul {
	padding: 0;
	margin: 0;
}

#venue-list li, #location-list li {
	color: #337ab7;
	list-style-type: none;
	font-family: sans-serif;
	padding: 10px 15px;
	border-bottom: 1px solid #ddd;
}

#venue-list li:hover, #location-list li:hover {
	background-color: #eee;
	color: #333;
}

#venue-list li.selected {
	background-color: #eee;
	color: #333;
	font-weight: bold;
}

.content-panel {
	padding: 0;
}

#location-panel {
	display: block;
}

#places-panel {
	display: none;
}

#bookmarks-panel {
	display: none;
}
