html, body { height: 100%; margin: 0; padding: 0; }
#map {
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	min-height: 220px;
	right: 100px;
	border: 2px solid #cccccc;
	border-radius: 5px;
}

#panel {
	position: absolute;
	right: 20px;
	width: 300px;
	min-height: 100px;
	top: 40px;
	bottom: 120px;
	z-index: 99;
	background-color: white;
	opacity: 0.95;
	border: 2px solid #cccccc;
	border-radius: 5px;
	padding: 5px;
}

#venue-list {
	position: absolute;
	top: 52px;
	bottom: 10px;
	overflow-y: scroll;
}

